### Create Tuple

In [6]:
# Way 1 
tup1 = ()
type(tup1)

# Way 2
tup2 = tuple()
type(tup2)

# Way 3
tup3 = 1,2,3,4,5,6,7
type(tup3)

tuple

### Types Of Tuples

In [18]:
# a tuple with single data item
tup1 = (99,)

# a tuple of strings
tup2 = ("Hey", "Rock", "Star")

# a tuple of strings and list
tup3 = ("Hey", [1,3,7,9])
tup3[1][2]
tup3[1][1]=2
tup3 # This can be modify as Lists are mutable
# tup3[0]="HI!" ### THis cant be done as tuples are immutable - "TypeError: 'tuple' object does not support item assignment"

# a tuple of int, float, strings
tup4 = (12, 34.12, "Hello Man!")

# a tuple inside another tuple
# Nested Tuple
tup5 = ((2,3,4),(1,2,"Hey!", [23,35,66]))
tup5[1][3][2] = 77
tup5
tup5[1][2][0]

'H'

### Create A Tuple From SET

In [19]:
py_tuple = tuple({1,2,3,4,4,4,4,5,6,7,7,7,8,9,9,1,1,2,3,4})
py_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Create A Tuple From LIST

In [21]:
py_list = [1,2,3,4,5]
py_tuple = tuple(py_list)
py_tuple

(1, 2, 3, 4, 5)

# EXCEPTION HANDLING : TRY  - EXCEPT Exception

In [28]:
# Example with modifying the tuple by adding values in it
py_list = [1,2,3,4]

try:
    print(py_list.append(5,6))
except Exception as ex:
    print("List Append Error: ", ex)
    print("Instead of Append use Extend : ", py_list.extend([5,6]))
    print("Updated List: ",py_list)

List Append Error:  list.append() takes exactly one argument (2 given)
Instead of Append use Extend :  None
Updated List:  [1, 2, 3, 4, 5, 6]

In [31]:
# Example of Deleting Whole Tuple Vs particular Value of Tuple

py_tuple = ("a", "b", "c", "d", "e")

try:
    del py_tuple[0]
except Exception as ex:
    print("OP(del py_tuple[0]) Error: ", ex)
    del py_tuple
    print(py_tuple)

OP(del py_tuple[0]) Error:  'tuple' object doesn't support item deletion

NameError: name 'py_tuple' is not defined

In [32]:
# Deleting Tuple

py_tuple = ("a", "b", "c", "d", "e")
del py_tuple
try:
    print(py_tuple)
except Exception as ex:
    print("print(py_tuple) Error: ",ex)

print(py_tuple) Error:  name 'py_tuple' is not defined

In [33]:
# Deleting Tuple

py_tuple = ("a", "b", "c", "d", "e")
del py_tuple[0]
try:
    print(py_tuple)
except Exception as ex:
    print("print(py_tuple) Error: ",ex)

TypeError: 'tuple' object doesn't support item deletion

## TUPLE METHODS

In [38]:
py_tuple = ("a", "b", "c", "d", "e","c")

# COUNT
print(py_tuple.count("c"))

# Index
print(py_tuple.index("b"))

2
1

### Iterating a Tuple

In [39]:
phones = ("iPhone", "Samsung" , "Nokia")

for phone in phones:
    print(phone)

iPhone
Samsung
Nokia